[submodule "extras/MoltenVK"]
	path = extras/MoltenVK
	url = https://github.com/KhronosGroup/MoltenVK.git
[submodule "godot"]
	path = godot
	url = https://github.com/Myran/godot.git
[submodule "extras/sentry-godot"]
	path = extras/sentry-godot
	url = https://github.com/Myran/sentry-godot.git
[submodule "extras/godot-swappy"]
	path = extras/godot-swappy
	url = https://github.com/Myran/godot-swappy.git
[submodule "extras/firebase-cpp-sdk"]
	path = extras/firebase-cpp-sdk
	url = https://github.com/Myran/firebase-cpp-sdk.git
