editor/godot.macos.editor.arm64
.DS_Store
.aider*
editor/editor_data/cache
# Gradle files
.gradle/
build/
*/build/
project/android_
templates/android_debug.apk
templates/android_release.apk
templates/android_source.zip
templates/godot.macos.template_debug.arm64
templates/godot.macos.template_release.arm64
templates/iphone.zip
export/android/gametwo.apk
editor/editor_data/export_templates/4.3.rc/android_source.zip
editor/editor_data/cache
editor/editor_data/shader_cache
export/ios/DerivedData
