editor/godot.macos.editor.arm64
.DS_Store
.aider*
editor/editor_data/cache
# Gradle files
.gradle/
build/
*/build/
project/android_
templates/android_debug.apk
templates/android_release.apk
templates/android_source.zip
templates/godot.macos.template_debug.arm64
templates/godot.macos.template_release.arm64
templates/iphone.zip
export/android/gametwo.apk
editor/editor_data/export_templates/4.3.rc/android_source.zip
editor/editor_data/cache
editor/editor_data/shader_cache
export/ios/DerivedData
export/ios/Pods
export/ios/MoltenVK.xcframework/ios-arm64/libMoltenVK.a
export/ios/gametwo.xcframework/ios-arm64/libgodot.a
export/android/gametwo.aab
export/android/gametwo_debug.aab
export/android/gametwo_debug.apk
firebase/firebase_cpp_sdk
firebase/firebase_cpp_sdk
templates
export/ios_old
export/ios/gametwo.pck
export/ios/gametwo.xcworkspace/xcuserdata/mattiasmyhrman.xcuserdatad/UserInterfaceState.xcuserstate
export/ios/gametwo.xcworkspace/xcuserdata/mattiasmyhrman.xcuserdatad/UserInterfaceState.xcuserstate
editor/editor_data/export_templates/4.3.rc/ios.zip
gradle/.build_version
.idea/gametwo.iml
.godot/shader_cache
convertion/project
.env
repomix-output.txt
editor/editor_data/temp
